body{
  background-color: #FCD232;
}
.bg-cover{
  position: relative;
  background-image: url('img/img3.jpg');
  height:70vh;
  background-size: cover;

}
.jumbotron{
  background-color: orange  !important;
  margin-bottom: 0px !important;
}
nav img{
  max-height: 50px;
  max-width: 50px;
}
.image-margin{
  margin-left:50px!important;
}
.text-size{
  font-size:10px;
}

.navbar-light .navbar-toggler {
color: rgba(0,0,0,.5);
border:none !important;
}
#addAdd{
color: white!important;
}
.colorMe{
color: white!important;
}
.bg-white{
  background-color: white!important;
  }
.heart{
color: red;
}
.selectSection .btn:hover{
cursor:pointer;
}
.green{
color: green;
}
.active-btn {
background-color: red !important;
color: black !important;
}
.navbar-toggler-icon{
background-image: url('https://api.iconify.design/bx-bx-menu-alt-right.svg')!important;
font-size:1.5em;
}
.position{
max-width: 80px;
}
.filter-button{
background-color: #302F38;
color:white;
width: 100%;
border-radius: 0em!important;
}
.filter-button:hover {
background-color: red;
color: black;
}
.border-radius{
border-radius: 0.75em!important;
}
.img-radius{
border-top-left-radius: 0.75em!important;
border-top-right-radius: 0.75em!important;
}
.btn-main{
line-height: 12px!important; 
padding:20px 0px 20px 20px!important;
height: 80px;
}
.content i{
position: absolute;
top:20px;
right:0;
}
.size-12{
font-size:12px;
}
.size-13{
font-size:13px;
}
.size-10{
font-size:10px;
}
.bg-yellow{
background-color: #FCD232!important;
}
.modal-title{
width: 100%;
text-align: center;
}
.row-width{
width:100%;
}
.modal-dialog{
padding-right: 10%!important;
} 
.pCard{
	  margin: 10px;
    max-height: 500px!important;
	  max-width: 300px!important;
    padding: 0px  !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
}
.pCard:hover{
  transform: translate(0, -10px);
}

.pImg{
	height: 160px !important;
}
.ImgClass{
	width: 100%;
}
.noPadding{
  padding: 0px !important;
}
